@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}